<!DOCTYPE html>
<html>
<head>  
  <div id="Header">
    <title>Todos</title>
    <% if user_signed_in? %>
      <div class="user-info">
        Hello, <%= current_user.email %>
      </div>
    <% end %>
    <ul class="menu">
    <li>
      <%= link_to('Home', home_index_path) %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Todos', todos_path) %>
      </li>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
